@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital@1&family=Tapestry&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {

    background-image: url(./perdeu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column-reverse;
    align-items:flex-end;
    margin: 35px;
}

body button{
    background-color: #00F5FF;
    font-size: large;
    border-style:dotted;
    text-decoration-color: antiquewhite;
    font-family: 'Tapestry', cursive;
    font-size:larger;
}

body button:hover {
    opacity: 50%;
}